/* Minimal global styles. Other styling done by styled-component */
body {
  font: 20px Arial;
  line-height: 1.5em;
  margin: 0;
  --primary-color: black;
  --light-grey: #F2F2F2;
  --dark-grey: #E0E0E0;
}
ul {
  list-style: none;
  padding: 0;
}
h1, h2, h3, h4 {
  word-break: break-word;
  font-weight: 300;
  line-height: normal;
}
h1 {
  font-size: 50px;
}
@media all and (max-width: 959px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 599px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
}
